$azulpetroleo: #0A3E42;
$greyen: #87AEAE;
$peach: #F08673;

.v-application {
    background-color: $greyen;
}


.menu {
    background-color: $azulpetroleo !important;
}


.pa-4 {
    margin: 16px; /* Ajusta según necesites */
  }